body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 5px;
}

input, textarea, button {
  width: 90%;
  padding: 8px;
  margin: 5px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#error {
  color: pink;
}
