body {
  font-family: Arial;
  text-align: center;
}

input, button {
  padding: 6px;
  margin: 5px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.popup-box {
  background: white;
  width: 300px;
  margin: 120px auto;
  padding: 20px;
}
